<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'shopping' class="navbar-brand"}}Shopping Pouch{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
            {{#link-to 'shopping' tagName="li"}}<a href="">Home</a>{{/link-to}}
      </ul>
    </div>
  </div>
</nav>
