<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Apple</td>
        <td>5</td>
        <td>Green</td>
      </tr>
      <tr>
        <td>Dog food</td>
        <td>12</td>
        <td>Big tins</td>
      </tr>
      <tr>
        <td><input type="text" name="name" class="form-control"></td>
        <td><input type="text" name="quantity" class="form-control"></td>
        <td><input type="text" name="notes" class="form-control"></td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-default pull-right" {{action 'saveItem'}}>Add item</button>
</div>
