<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Apple</td>
        <td>5</td>
        <td>Green</td>
      </tr>
      <tr>
        <td>Dog food</td>
        <td>12</td>
        <td>Big tins</td>
      </tr>
    </tbody>
  </table>
</div>
