<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Week
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">Week xyz</a></li>
  </ul>
</div>
